<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget name</title>
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
</head>
<body>
    <div class ="container">
        <h1><%= budgets.name %></h1>

        <a href="/budgets"><button>Back to Budgtr</button></a>


        <p>Date: <%= budgets.date %>  <p>
        <p>From: <%= budgets.from %> <p>
        <p>Amount: <%= budgets.amount %> </p>
        <p>Tags: <%= budgets.tags %> </p>
        
       
    </div>
</body>
</html>